<div class="container-fluid">
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-stroked-button="" color="primary" (click)="pickOpenFile('ion')" id="ion-input">Choose Ion File</button>
      <div class="filename">{{labels.ion}}</div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-stroked-button="" button color="primary" (click)="pickOpenFile('fdr')" id="fdr-input">Choose FDR File</button>
      <div class="filename">{{labels.fdr}}</div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-stroked-button="" button color="primary" (click)="pickSaveFile('output')" id="output-input">Choose Output</button>
      <div class="filename">{{labels.output}}</div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field>
        <input matInput placeholder="P-Value Cutoff" type="text" formControlName="p">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" (click)="clicked()">Submit</button>
    </div>
  </form>
</div>

