<div class="container-fluid">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="label-ion-input">Ion Input</span>
        </div>
        <div class="custom-file">
          <input type="file" class="form-control" id="ion-input" aria-label="ion-input" aria-describedby="label-ion-input" (change)="getPath($event, 'ion')" required>
          <label class="custom-file-label" for="ion-input">{{labels.ion||'Choose Ion'}}</label>
        </div>
      </div>

    </div>
    <div class="form-group mt-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="label-fdr-input">FDR Input</span>
        </div>
        <div class="custom-file">
          <input type="file" class="form-control" id="fdr-input" aria-label="fdr-input" aria-describedby="label-fdr-input" (change)="getPath($event, 'fdr')" required>
          <label class="custom-file-label" for="fdr-input">{{labels.fdr||'Choose FDR'}}</label>
        </div>
      </div>
    </div>
    <div class="form-group mt-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="label-out-input">Output File</span>
        </div>
        <div class="custom-file">
          <input type="file" class="form-control" id="out-input" aria-label="out-input" aria-describedby="label-out-input" (change)="getPath($event, 'output')" required>
          <label class="custom-file-label" for="out-input">{{labels.output||'Choose Output'}}</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-4">
        <label for="p">P-value Cutoff</label>
        <input type="number" class="form-control" id="p" formControlName="p">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="clicked()">Submit</button>
    </div>
  </form>
</div>

