<div class="container">

  <div fxLayout="row" fxFlexFill fxLayoutGap="5px" fxLayoutAlign="center center" >
    <div fxFlex="15">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Recent Jobs
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="75">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Content
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          test
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
