<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px">
  <div fxLayout="row" fxFlexFill fxLayoutGap="5px" fxLayoutAlign="start stretch">
    <div fxFlex="15">
      <div fxLayout="column" fxFlexFill class="msms-browser-container" fxLayoutAlign="start stretch" fxLayoutGap="5px">
        <div fxFlex="20">
          <mat-form-field>
            <mat-select placeholder="Sample">
              <mat-option *ngFor="let s of Samples" (click)="chooseSample(s)">
                {{s.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="80">
          <app-protein-browser></app-protein-browser>
        </div>
      </div>
    </div>
    <div fxFlex="15">
      <app-peptide-browser></app-peptide-browser>
    </div>
    <div fxFlex="70">
      <app-ion-browser></app-ion-browser>
    </div>
  </div>
  <div fxLayout="row" fxFill>
    <div fxFlex="100">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            MS/MS Spectra Viewer
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="MsData|async;let MsData" class="ms-viewer">
            <app-ms-spectrum-viewer [mode]="'MZ'"></app-ms-spectrum-viewer>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>

