.msms-browser-container {
  position: relative;
  height: 300px;
  max-height: 300px;
  overflow: auto;
}
.ms-viewer{
  position: relative;
  height: 500px;
  max-height: 50%;
  overflow: auto;
}

.input-frame {
  height: 500px;
  max-height: 500px;
}
