<div class="card">
  <div class="card-header">
    Ions
  </div>
  <div class="card-body">
    <div class="ion-table">
      <table class="table table-striped" *ngIf="Ions|async; let Ions; else loading">
        <thead>
        <tr>
          <th scope="col" *ngFor="let d of displayedColumns">{{d}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of Ions">
          <td *ngFor="let d of displayedColumns">
            {{i[d]}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  <table class="table table-striped ion-table">
    <thead>
    <tr>
      <th scope="col" *ngFor="let d of displayedColumns">{{d}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        No peptides have been selected.
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>
